<% include ../partials/header %>

<h1 class="margin-top-and-bottom">Write a new blog</h1>

<form action="/blogs" method="POST" enctype="multipart/form-data">
	
	<label for="blog-title">Blog title</label>
	<input class="block" type="text"  id="blog-title" name="blog[title]" placeholder="Title of your blog" required autofocus>
	
	<label for="description">Description</label>
	<input class="block" type="text"  id="description" name="blog[description]" placeholder="Quick teaser for your blog content" required>

	<label for="image">Image</label>
	<input class="block" type="file" id="image" name="image" accept="image/*" placeholder="Paste image URL here" required>

	<label for="content">Content</label>
	<textarea class="block large-text-box" id="content" name="blog[content]" placeholder="Write your blog here" required></textarea>
	

	<button>Post your blog!</button>

</form>

<% include ../partials/footer %>
