<% include ./partials/header %>
<h2>Forgot Password</h2>
<form action="/forgot" method="POST">
	<label for="email">Email</label>
	<input type="email" name="email" autofocus placeholder="Enter email">
	<button class="">Reset password</button>	
</form>

<% include ./partials/footer %>