<% include ./partials/header %>
<h2>Forgot Password</h2>
<form action="/forgot" method="POST">
	<label for="email">Email</label>
	<input type="email" name="email" placeholder="Enter email">
	<button class="">Log in</button>	
</form>

<% include ./partials/footer %>