<% include ./partials/header %>
<h2 class="margin-top-and-bottom">Enter your email to reset password</h2>
<form action="/forgot" method="POST">
	<label for="email">Email</label>
	<input class="block" type="email" name="email" autofocus placeholder="Enter email">
	<button class="block">Reset password</button>	
</form>

<% include ./partials/footer %>




http://localhost:3000/user/5ab2153df2756219b12cf30f

http://localhost:3000/users/5ab2153df2756219b12cf30f