<!DOCTYPE html>
<html lang="en">
    <head>
        <title>1207 cafe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		        <link href="/images">
        
    </head>
    
    <body>
		<nav class="navbar">
			<nav class="wrapper">
				<div class="logo"><a href="/"><img src="/images/image_1207logobig_button.png"></a></div>
				<input type="checkbox" id="menu-toggle" />
				<label for="menu-toggle" class="label-toggle"></label>
				<ul>
					<li><a href="/blogs">Blog</a></li>
					<!-- if no user -->					
					<% if(!currentUser){ %>
					<li><a href="/login">Log in</a></li>
					<li><a href="register">Sign up</a></li>
					<!-- if  user -->
					<% } else { %>
						<li><a href="/users/<%= currentUser._id%>"><%= currentUser.username %>
							<% if(currentUser && currentUser.isAdmin) { %>
							<span>(admin)</span>
							<% } %>						
						</a></li>
						<li><a href="/logout">Log out</a></li>
					<% } %>
				</ul>
			</nav>
		</nav>
		
		<div class="landing-container">

			<% if (error && error.length > 0) { %>
				<h2 class="blog-header-group" style="color: red"><%= error %></h2>
			<% } %>
			<% if (success && success.length > 0) { %>
				<h2 class="blog-header-group" style="color: gray"><%= success %></h2>
			<% } %>

		

	<div class="flex_container_all">

		<div class="flex_column column1">
			<a class="light" id="light-switch" href=""></a>
			<a class="tile" href=""></a>
			<a class="tsukue" href=""></a>
		</div>
		<div class="flex_column">

			<a class="cupnoback" href=""></a>
			<a class="owan" href=""></a>
			<a class="image_1207logobig_button" href=""></a>
			<a class="cuplegsconnected" href=""></a>	
			<a class="isu" href=""></a>			
		</div>
		<div class="flex_column">
			<a class="yuukari" href=""></a>
			<a class="totte" href=""></a>	
			<a class="yakan" href=""></a>
			<a class="hasu" href=""></a>	
		</div>	
	</div>
	 <div class="dark" id="curtain"></div>
		
	<script type="text/javascript" src="/scripts/script.js"></script>


    	</div>
    </body>
</html>





















