<% include partials/header %>
	<div class="flex_container_all">

		<div class="flex_column column1">
			<a class="light" id="light-switch" href=""></a>
			<a class="tile" href=""></a>
			<a class="tsukue" href=""></a>
		</div>
		<div class="flex_column">

			<a class="cupnoback" href=""></a>
			<a class="owan" href=""></a>
			<a class="image_1207logobig_button" href=""></a>
			<a class="cuplegsconnected" href=""></a>	
			<a class="isu" href=""></a>			
		</div>
		<div class="flex_column">
			<a class="yuukari" href=""></a>
			<a class="totte" href=""></a>	
			<a class="yakan" href=""></a>
			<a class="hasu" href=""></a>	
		</div>	
	</div>
	 <div class="dark" id="curtain"></div>
		
	<script type="text/javascript" src="/scripts/script.js"></script>


<% include partials/footer %>






















