<% include ./partials/header %>

<form action="/login" method="POST">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="Enter username" autofocus>	
	<label for="username">Password</label>
	<input type="password" name="password" placeholder="Enter password">
	<button class="">Log in</button>	
</form>
<br>
<a href="/forgot">Forgot your password?</a>

<% include ./partials/footer %>


