@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

html {
	font-family: 'Oswald', sans-serif;
	font-size: 62.5%;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
  	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	box-sizing: border-box;
	line-height: 3.2rem;
	background-color: whitesmoke;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%), url(/images/backgroundscreenshotimage.png);
}

button {
	margin: 0;
	border: 1px solid gray;
	background: rgba(232, 69, 96, 0.55);
	font-family: inherit;
	font-size: 1.6rem;
	cursor: pointer;
	height: 3.2rem;
	padding: 0 1.2rem 0 1.2rem;
	transition: .2s all ease;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

button:hover {
	background-color: pink;
}

input, textarea {
	font-size: inherit;
}

a {
	text-decoration: none;
}

.super-container {
	padding: 6.4rem 1.6rem 0 1.6rem;
	margin: 0 auto;
	min-height: calc(100vh - 6.4rem);
}

.landing-container {
	padding: 6.4rem 1rem 0 1rem;
	margin: 0 auto;
	min-height: calc(100vh - 6.4rem);
}




@media screen and (max-width: 835px) {
	.super-container {
		width: 100%;
	}
}


/*NAVBAR CSS*/


.navbar {
	background-color: #DFDEDE;
	opacity: 0.97;
	position: fixed;
	min-width: 100%;
	z-index: 100;
	border-bottom: 1px solid lightgray;
}

.wrapper {
	margin: 0 auto;
	transition: all .3s ease;
}

nav .wrapper {
	align-items: stretch;
	display: flex;
	justify-content: space-between;
	position: relative;
	transition: all .3s ease;
}

.logo {
	background-image: url(/images/image_1207logobig_button.png);
	display: inline-block;
	height: 3.2rem;
	margin: 1.6rem 0 1.6rem 2rem;
}

nav div img {
	max-width: 100%;
	padding:0;
	height: 100%;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 40%;
}

nav ul a {
	color: #E84545;
	text-decoration: none;
	transition: all .8s ease;
}

nav ul a:hover {
	color: #903749;
}

nav li {
/*took out inline block*/
	display: flex;
	align-items: center;
}

nav #menu-toggle {
	display: none;
}

nav .label-toggle {
	display: none;
}


@media screen and (max-width: 600px) {

	.wrapper {
		padding: 0 2%;
	}

	nav nav ul a {
		color: #53354A;
	}

	nav ul {
		background-color: rgba(232, 69, 96, .55);
		display: block;
		height: 0;
		list-style-type: none;
		opacity: 0;
		text-align: center;
		transition: all 0.3s ease;
		width: 100%;
		visibility: hidden;
	}

	nav ul li {
		background-color: rgba(232, 69, 96, 0.2);
		color: transparent;
		display: block;
		font-size: 3.2rem;
		padding: 2.4rem 0;
		opacity: 1;
		transition: all 0.3s ease;
	}
	
	nav li:last-child {
		border-bottom: 3px solid transparent;
	}

	nav #menu-toggle:checked ~ ul {
		opacity: 1;
		height: 24.8rem;
		visibility: visible;
		margin-bottom: 2%;
	}

	nav #menu-toggle:checked ~ ul li {
		border-bottom: 2px solid #DFDEDE;
	}
	
	nav #menu-toggle:checked ~ ul li:last-child {
		border-bottom: 3px solid transparent;
	}

	nav .label-toggle {
		background: linear-gradient(
					to bottom,
					rgba(232, 69, 96, 1) 0%,
					rgba(232, 69, 96, 1) 20%,
					transparent 20%,
					transparent 40%,
					rgba(232, 69, 96, 1) 40%,
					rgba(232, 69, 96, 1) 60%,
					transparent 60%,
					transparent 80%,
					rgba(232, 69, 96, 1) 80%,
					rgba(232, 69, 96, 1) 100%
					);
	    cursor: pointer;
	    display: block;
	    float: right;
	    height: 2.4rem;
	    width: 2.4rem;
	    position: absolute;
	    top: 2.08rem;
	    right: 2.08rem;
	}

	nav .wrapper {
		display: block;
	}
}

/*END OF NAV*/


nav img {
	max-width: 90%;
	max-height: 30px;
}

.flex_container_all {
	height: calc(100vh - 6.4rem);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 1080px;
	margin: auto;
}

.flex_column {
	flex-basis: 33.33%;
	padding: 5px 10px 5px 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;	
}

.column1 {
	padding-top: 0px;
	justify-content: space-between;
}

div a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	filter: drop-shadow(0.5px 0.5px 0.5px gray) 
	        drop-shadow(-0.5px -0.5px 0.5px gray);
}


/*COLUMN 1*/
.light {
    background-image: url(/images/light.png);	
	flex: 0 1 40%;
	position: relative;
	z-index: 2;
}

.light:hover {
	filter: drop-shadow(5px 5px 10px rgba(255,255,0,.7)) 
	        drop-shadow(-5px -5px 10px rgba(255,255,0,.7));
}

.tile {
    background-image: url(/images/tile.png);	
	flex: 0 1 8%;
	position: relative;
	right: 3vw;
}

.tsukue {
    background-image: url(/images/tsukue.png);	
	flex: 0 1 35%;
	position: relative;
	right: 4vw;
}


/*COLUMN 2*/



.cupnoback {
    background-image: url(/images/cupnoback.png);	
    flex: 0 1 10%;
    position: relative;
    left: -5vw;
}

.owan {
    background-image: url(/images/owan.png);	
	flex: 0 1 8%;
    position: relative;
    left: 2vw;
}

.image_1207logobig_button {
    background-image: url(/images/image_1207logobig_button.png);	
	flex: 0 1 15%;
    width: 120%;
    position: relative;
    right: 10%;
}

.cuplegsconnected {
    background-image: url(/images/cuplegsconnected.png);	
	flex: 0 1 8%;
	position: relative;
    right: 4vh;
}

.isu {
    background-image: url(/images/isu.png);	
	flex: 0 1 35%;
	position: relative;
	bottom: 2vh;
}


/*COLUMN 3*/
.yuukari {
    background-image: url(/images/yuukari.png);	
	flex: 0 1 22%;
}

.yakan {
    background-image: url(/images/yakan.png);	
	flex: 0 1 27%;
    position: relative;
    left: 0vw;
}

.totte {
    background-image: url(/images/totte.png);	
	flex: 0 1 8%;
	position: relative;
	right: 1vw;
}

.hasu {
    background-image: url(/images/hasu.png);	
	flex: 0 1 24%;
}

.dark {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.95;
    filter: alpha(opacity=60);
}

.fadein {
	animation: lightsOn 2.5s linear 0.1s;
	animation-fill-mode:forwards; /*when the spec is finished*/
}


@keyframes lightsOn {
	0% {
		opacity: 0.94;
	}

	28% {
		opacity: 1;
	}

	30% {
		opacity: 0.8;

	}
		
	32% {
		opacity: 1;
	}

	42% {
		opacity: 1;
	}

	45% {
		opacity: 0.6;
	}

	50% {
		opacity: 0.8;
	}

	55% {
		opacity: 0.7;
	}

	58% {
		opacity: 0.7;
	}

	60% {
		opacity: 0.5;
	}

	67% {
		opacity: 0.8;
	}

	70% {
		opacity: 0.95;
	}	

	72% {
		opacity: 0.95;
	}

	75% {
		opacity: 0.8;
	}
	80% {
		opacity: 0.85;
	}
	85% {
		opacity: 0.8;
	}

	87% {
		opacity: 0.85;
	}	

	92% {
		opacity: 0;
	}

	95% {
		opacity: 0.0;
	}
	100% {
		opacity: 0;
	}
}



/* START CARDS HERE*/

.blog-header-group {
	margin: 0 auto;
    padding-top: 3.2rem;
    padding-bottom: 1.6rem;
	max-width: 1000px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

.blog-index-search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog-index-input {
	height: 3.4rem;
	margin-right: .25em;
	padding-left: .5rem;
}


@media screen and (max-width: 530px) {
	.blog-index-header {
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
	}
	
	.blog-index-h1 {
		flex-basis: 50%;
	}

	.blog-index-newButton {
		flex-basis: 50%;
		padding-left: 1rem;
	}

	.blog-index-search {
		flex: 0 1 75%;
		margin-top: 1rem;
		order: 2;
		display: flex;
		align-items: center;
	}

	.blog-index-input {
		flex: 1 1 auto;		
	}
}


.cards {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flex-blog-card {
/*	background-color: #E84560;*/	
	flex: 0 1 49%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	margin: .8rem 0;
}

@media screen and (max-width: 700px) {
	.flex-blog-card {
		min-width: 100%;
	}
}

.flex-blog-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.flex-blog-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flex-blog-card-picture {
	flex: 1 1 50%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	height: auto;
}

.blog-image-center {
	display: flex;
	align-items: center;
}


.blog-image {
	max-width: 100%;
	min-height: 0%;
	padding: 1rem;
}

.flex-blog-card-text {
	flex: 1 1 50%;
	display: flex;
	flex-flow: column nowrap;
	align-self: flex-start;
	justify-content: space-around;
    padding: 0.625rem;
    line-height: 2.8rem;
}

.flex-blog-card-text {
	margin-top: 0.5rem;
}



.flex-blog-card.bg1 {
	background-color: rgba(232, 69, 96, 0.55);
	color: navy;	
}

.flex-blog-card.bg2 {
	background-color: rgba(20, 17, 110, 0.55);
	color: black;	
}

.flex-blog-card.bg3 {
	background-color: rgba(218, 223, 0, 0.55);
	color: black;	
}

.flex-blog-card.bg4 {
	background-color: rgba(20, 17, 110, 0.55);
	color: white;	
}

/*BLOG SHOW PAGE*/



.blog-show-header {
	margin: 2.4rem .8rem 1.6rem .8rem;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.blog-show-title {
    font-size: 4.8rem;
	border-bottom: 2px solid black;
	height: auto;
    line-height: 6rem;
    padding-bottom: 2rem;
}

.blog-show-descrip {
    font-style: italic;
    text-align: center;
    font-size: 2.4rem;
}

.blog-show-blogContainer {
	margin: 2.4rem 1.6rem 0 1.6rem;
	padding: 1.6rem 0 3.2rem 0;
	border-top: 1px solid black;
	display: flex;
	align-items: flex-start;
}

.blog-show-image {
	padding: 1rem 1rem 1rem 0;
	max-width: 50%;
}

.blog-show-content {
	padding: 1rem 0 1rem ;
	max-width: 50%;
	font-weight: 400;
	padding: .8rem 0 .8rem 1.6rem;
}

.blog-show-para-endBorder {
	border-top: 1px solid black;
	width: 70%;
	margin: 0 auto 3rem auto;
}

@media screen and (max-width: 550px) {

	.blog-show-blogContainer {
		flex-wrap: wrap;
	}


	.blog-show-image {
		max-width: 100%;
		margin-bottom: .5rem;
		padding: 0;
	}

	.blog-show-content {
		max-width: 100%;
	}
}



.user-show {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-around;
	margin: 2rem 0;
}

.user-show-details{
	flex: 1 0 40%;
}

.user-show-image {
	flex: 1 0 40%;
}

@media screen and (max-width: 500px) {
	.user_show {
		min-width: 100%;
	}

	.user-show-details{
		flex: 1 0 100%;
	}

	.user-show-image {
		flex: 1 0 100%;
	}
}

.user-show-image img {
	max-width: 100%;
	min-height: 0%;
}

.user-show-profile-items {
	margin-bottom: .5em;
}

.user-show-otherBlogs {
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.margin-top-and-bottom {
	margin: 1.6rem 0;
}

.block {
	display: block;
	margin-bottom: .5rem;
	height: 3rem;
	width: 29rem;
	font-family: 'Oswald', sans-serif;
}

.inline-button {
	display: inline;
	margin-right: .5rem;
	padding: .5rem;
	height: 3.2rem;
	font-family: 'Oswald', sans-serif;
	font-size: 1.6rem
}

.large-text-box {
	width: 100%;
	height: 40vh;
}

.med-text-box {
	width: 100%;
	height: 15vh;
}

.invisible {
	visibility: hidden;
}
/*

.blog-show-writtenBy

.blog-show-button

.blog-show-button-edit

.blog-show-button-delete

*/

/*FOOTER*/

.footer {
	background-color: darkgray;
	opacity: 0.97;
	min-width: 100%;
	border-top: 1px solid lightgray;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 5rem;
}


.footer-image-center {
	flex-basis: 100%;
	display: flex;
	align-items: center;
}


.footer-image {
	width: 20%;
	margin: 0 auto;
	text-align: center;
	min-height: 0%;
	padding: 3rem 0 3rem 0;
}

.footer-info {
	flex: 0 1 40%;
	margin: 0 3rem;
	padding-top: 3rem;
	border-top: 1px solid gray;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 650px) {
	.footer-info {
		flex: 1 1 100%;
	}
}

#map {
	width: 65%;
	min-height: 150px;
	background-color: grey;
}

.footer-right-info-address {
	flex-basis: 25%;
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: right;
}

.footer-right-info {
	justify-content: space-between;
}

@media screen and (max-width: 650px) {
	.footer-right-info {
		flex: 0 1 90%;
	}
}

.footer-info-list {
	list-style: none;
}

.nodec {
	text-decoration: none;
}

@media screen and (max-width: 650px) {
	.footer-info-list {
		padding-bottom: 3rem;
	}
}

.footer-info-list-item {
	display: inline-block;
}

.footer-info-list-item:not(:last-child) {
	margin-right: 1.6rem;
}

.footer-signoff {
	flex-basis: 100%;
	margin-top: 5rem;
	padding: .5rem 2rem .5rem 0;
	background-color: rgba(128,128,128, 0.3);
}

.signoff {
	flex: auto;
	text-align: right;
}






/*footer div img {
	max-width: 100%;
	padding:0;
	height: 100%;
}

footer ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 40%;
}

footer ul a {
	color: #E84545;
	text-decoration: none;
	transition: all .8s ease;
}

footer ul a:hover {
	color: #903749;
}

footer li {
	display: flex;
	align-items: center;
}*/









