@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

html {
	font-family: 'Oswald', sans-serif;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
  	box-sizing: inherit;
}

.super-container {
	padding: 4em 1em 1em 1em;
	margin: 0 auto;
	max-width: 870px;
}

@media screen and (max-width: 835px) {
	.super-container {
		width: 100%;
	}
}

body {
	box-sizing: border-box;
	line-height: 2em;
	margin: 0;
	background-color: whitesmoke;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%), url(/images/backgroundscreenshotimage.png);
}

/*NAVBAR CSS*/


.navbar {
	background-color: #DFDEDE;
	opacity: 0.97;
	position: fixed;
	min-width: 100%;
	z-index: 100;
	border-bottom: 1px solid lightgray;
}

.wrapper {
	margin: 0 auto;
	padding: 0 0 0 2%;
	transition: all .3s ease;
}

nav .wrapper {
	align-items: stretch;
	display: flex;
	justify-content: space-between;
	position: relative;
	transition: all .3s ease;
}

.logo {
	background-image: url(/images/image_1207logobig_button.png);
	display: inline-block;
	height: 2em;
	margin: 1em 0 1em .5em;
}

nav div img {
	max-width: 100%;
	padding:0;
	height: 100%;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 40%;
}

nav ul a {
	color: #E84545;
	text-decoration: none;
	transition: all .8s ease;
}

nav ul a:hover {
	color: #903749;
}

nav li {
/*took out inline block*/
	display: flex;
	align-items: center;
}

nav #menu-toggle {
	display: none;
}

nav .label-toggle {
	display: none;
}



@media screen and (max-width: 600px) {

	.wrapper {
		padding: 0 2%;
	}

	nav nav ul a {
		color: #53354A;
	}

	nav ul {
		background-color: rgba(232, 69, 96, .55);
		display: block;
		height: 0;
		list-style-type: none;
		opacity: 0;
		text-align: center;
		transition: all 0.3s ease;
		width: 100%;
		visibility: hidden;
	}

	nav ul li {
		background-color: rgba(232, 69, 96, 0.2);
		color: transparent;
		display: block;
		font-size: 1.5em;
		padding: 1em 0;
		opacity: 1;
		transition: all 0.3s ease;
	}
	
	nav li:last-child {
		border-bottom: 3px solid transparent;
	}

	nav #menu-toggle:checked ~ ul {
		opacity: 1;
		height: 15.5em;
		visibility: visible;
		margin-bottom: 2%;
	}

	nav #menu-toggle:checked ~ ul li {
		border-bottom: 2px solid #DFDEDE;
	}
	
	nav #menu-toggle:checked ~ ul li:last-child {
		border-bottom: 3px solid transparent;
	}

	nav .label-toggle {
		background: linear-gradient(
					to bottom,
					rgba(232, 69, 96, 1) 0%,
					rgba(232, 69, 96, 1) 20%,
					transparent 20%,
					transparent 40%,
					rgba(232, 69, 96, 1) 40%,
					rgba(232, 69, 96, 1) 60%,
					transparent 60%,
					transparent 80%,
					rgba(232, 69, 96, 1) 80%,
					rgba(232, 69, 96, 1) 100%
					);
	    cursor: pointer;
	    display: block;
	    float: right;
	    height: 1.5em;
	    width: 1.5em;
	    position: absolute;
	    top: 1.3em;
	    right: 1.3em;
	}

	nav .wrapper {
		display: block;
	}
}

/*END OF NAV*/


nav img {
	max-width: 90%;
	max-height: 30px;
}

.flex_container_all {
	height: calc(100vh - 4em);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 1080px;
	margin: auto;
}

.flex_column {
	flex-basis: 33.33%;
	padding: 5px 10px 5px 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;	
}

.column1 {
	padding-top: 0px;
	justify-content: space-between;
}

div a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	filter: drop-shadow(0.5px 0.5px 0.5px gray) 
	        drop-shadow(-0.5px -0.5px 0.5px gray);
}


/*COLUMN 1*/
.light {
    background-image: url(/images/light.png);	
	flex: 0 1 40%;
	position: relative;
	z-index: 2;
}

.light:hover {
	filter: drop-shadow(5px 5px 10px rgba(255,255,0,.7)) 
	        drop-shadow(-5px -5px 10px rgba(255,255,0,.7));
}

.tile {
    background-image: url(/images/tile.png);	
	flex: 0 1 8%;
	position: relative;
	right: 3vw;
}

.tsukue {
    background-image: url(/images/tsukue.png);	
	flex: 0 1 35%;
	position: relative;
	right: 4vw;
}


/*COLUMN 2*/



.cupnoback {
    background-image: url(/images/cupnoback.png);	
    flex: 0 1 10%;
    position: relative;
    left: -5vw;
}

.owan {
    background-image: url(/images/owan.png);	
	flex: 0 1 8%;
    position: relative;
    left: 2vw;
}

.image_1207logobig_button {
    background-image: url(/images/image_1207logobig_button.png);	
	flex: 0 1 15%;
    width: 120%;
    position: relative;
    right: 10%;
}

.cuplegsconnected {
    background-image: url(/images/cuplegsconnected.png);	
	flex: 0 1 8%;
	position: relative;
    right: 4vh;
}

.isu {
    background-image: url(/images/isu.png);	
	flex: 0 1 35%;
	position: relative;
	bottom: 2vh;
}


/*COLUMN 3*/
.yuukari {
    background-image: url(/images/yuukari.png);	
	flex: 0 1 22%;
}

.yakan {
    background-image: url(/images/yakan.png);	
	flex: 0 1 27%;
    position: relative;
    left: 0vw;
}

.totte {
    background-image: url(/images/totte.png);	
	flex: 0 1 8%;
	position: relative;
	right: 1vw;
}

.hasu {
    background-image: url(/images/hasu.png);	
	flex: 0 1 24%;
}

.dark {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.95;
    filter: alpha(opacity=60);
}

.fadein {
	animation: lightsOn 2.5s linear 0.1s;
	animation-fill-mode:forwards; /*when the spec is finished*/
}


@keyframes lightsOn {
	0% {
		opacity: 0.94;
	}

	28% {
		opacity: 1;
	}

	30% {
		opacity: 0.8;

	}
		
	32% {
		opacity: 1;
	}

	42% {
		opacity: 1;
	}

	45% {
		opacity: 0.6;
	}

	50% {
		opacity: 0.8;
	}

	55% {
		opacity: 0.7;
	}

	58% {
		opacity: 0.7;
	}

	60% {
		opacity: 0.5;
	}

	67% {
		opacity: 0.8;
	}

	70% {
		opacity: 0.95;
	}	

	72% {
		opacity: 0.95;
	}

	75% {
		opacity: 0.8;
	}
	80% {
		opacity: 0.85;
	}
	85% {
		opacity: 0.8;
	}

	87% {
		opacity: 0.85;
	}	

	92% {
		opacity: 0;
	}

	95% {
		opacity: 0.0;
	}
	100% {
		opacity: 0;
	}
}



/* START CARDS HERE*/

.blog-header-group {
    padding-top: 2em;
    padding-bottom: 1em;
	max-width: 835px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 450px) {
	.blog-index-header {
		flex-wrap: wrap;
		justify-content: space-around;
		flex-basis: 45%;
		text-align: center;
	}
	
	.blog-index-h1 {
		flex-basis: 50%;
	}

	.blog-index-newButton {
		flex-basis: 50%;
	}

	.blog-index-search {
		margin-top: .6em;
		order: 2;
	}
}


.cards {
	width: auto;
	max-width: 835px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}


.flex_blog_card {
/*	background-color: #E84560;
*/	flex: 0 1 49%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	margin: 7px 0;
}

@media screen and (max-width: 700px) {
	.flex_blog_card {
		min-width: 100%;
	}
}

.flex_blog_card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.flex_blog_card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flex_blog_card_picture {
	flex: 1 1 50%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	height: auto;
}

.blog-image-center {
	display: flex;
	align-items: center;
}


.blog-image {
	max-width: 100%;
	min-height: 0%;
	padding: 10px;
}

.flex_blog_card_text {
	flex: 0 1 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-around;
    padding: 10px;
}

.flex_blog_card_text p {
	margin: 0;
	font-size: 16px;
}

.flex_blog_card_text h3 {
	margin: 0;
	margin-bottom: 10px;
}

.flex_blog_card.bg1 {
	background-color: rgba(232, 69, 96, 0.55);
	color: navy;	
}

.flex_blog_card.bg2 {
	background-color: rgba(20, 17, 110, 0.55);
	color: black;	
}

.flex_blog_card.bg3 {
	background-color: rgba(218, 223, 0, 0.55);
	color: black;	
}

.flex_blog_card.bg4 {
	background-color: rgba(20, 17, 110, 0.55);
	color: white;	
}

/*BLOG SHOW PAGE*/

.blog-show-supercontainer {

}

.blog-show-header {
	margin: 2em .5em 1em .5em;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.blog-show-title {
    font-size: 2em;
	border-bottom: 2px solid black;
	height: auto;
    line-height: 2em;
}

.blog-show-descrip {
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
}

.blog-show-blogContainer {
	margin-top: 1.5em;
	margin-bottom: 2em;
	padding: 1em 0 2em 0;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	display: flex;
	align-items: flex-start;
}

.blog-show-image {
	max-width: 50%;
}

.blog-show-content {
	max-width: 50%;
	font-weight: 400;
	padding: .5em 1em .5em 1em;
}

@media screen and (max-width: 550px) {

	.blog-show-blogContainer {
		flex-wrap: wrap;
	}


	.blog-show-image {
		max-width: 100%;
		margin-bottom: .5em;
		padding: 0;
	}

	.blog-show-content {
		max-width: 100%;
	}
}



.blog-show-writtenBy

.blog-show-button

.blog-show-button-edit

.blog-show-button-delete













